body {
    background-color: rgba(207, 198, 169, 0.466);
}

.page-wrap {
    display: grid;
    place-items: center;
}

h1 {
    color: red;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 500px;
    height: 500px;
    background-color: rgba(104, 117, 133, 0.685);
    padding: 30px;
}

.board-tile {
    background-color: rgb(192, 189, 189);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 100px;
    font-weight: bold;
    border-radius: 5px;
}

.x-text-color {
    color: black;
}

.o-text-color {
    color: red;
}

.selected {
    
}

.play-again {
    cursor: none;
    border: none;
}

.play-again-active {
    cursor: pointer;
    border: 1px solid black;
}