/************************************ 

General styling

**************************************/

html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: 100;
  }

body {
    background-color: rgb(233, 228, 208);
    
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(218, 3, 3); 
}
  
img {
    max-width: 100%;
    height: auto;
  }
  
a {
      text-decoration: none;
  }
  
a:hover {
      text-decoration: underline;
  }
  
p {
      line-height: 1.2rem;
}
  
:root {
      font-size: 16px;
      --screen-text: rgb(184, 250, 239);
}
  

/************************************ 

Header styling

**************************************/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 2rem;
    align-content: center;
}

.akai-cursive {
    font-style: italic;
    font-size: .5em;
}

.header-h2 {
    font-family: 'Orbitron', sans-serif;
    margin-right: 1em;
    font-weight: 600;
    font-size: 2rem;
}

/************************************ 

interface styling

**************************************/

.interface-wrap {
    display: flex;
    margin: 2em auto;
    flex-direction: row;
    align-content: center;
    padding: 1em;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 120em;
    height: calc(100vh - 14em);
}

/************************************ 

screen styling

**************************************/

.screen-wrapper {
    font-size: 10px;
    margin: auto 0;
}

.display-screen {
    font-size: 1.3em;
    border: 8px solid black;
    width: 35em;
    height: 11em;
    padding: .6em;
    border-radius: 5px;
    background-color: rgb(68, 68, 180);
}

.program, .game-status, .status-update, .current-move, .play-again {
    color: var(--screen-text);
    font-size: 1.7em;
    font-family: sans-serif;
    padding: 5px;
}
.game-status {
    font-size: 1.7em;
}

.status-update {
    font-size: 1em;
}

.playagain {
    width: 400px;
    height: 36;
}

.sound-toggle {
    float: right;
    font-size: .8em;
    cursor: pointer;
}

.sound-toggle-off {
    color: rgb(89, 124, 118);
}

/************************************ 

pad grid

**************************************/

.game-grid {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1em;
    /*width: 500px;
    height: 500px;*/
    background-color: rgba(104, 117, 133, 0.685);
    padding: 28px;
    margin: auto 0;
}

.board-tile {
    font-size: 1em;
    width: 15em;
    height: 15em;
    background-color: rgb(192, 189, 189);

    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset -3px -5px 3px 2px rgb(12 11 11 / 22%)
}

.board-tile__marker {
    font-size: 15em;
    width: 1em;
    height: 1em;
    display: grid;
    place-content: center;
}

.board-tile-inactive {
    cursor: default;
}

.x-text-color {
    color: black;
}

.o-text-color {
    color: whitesmoke;
}

.selected {
    font-family: sans-serif;
}

.play-again {
    cursor: none;
    border: none;
}

.play-again-active {
    cursor: pointer;
}


/************************************ 

footer

**************************************/

footer {
    text-align: center;
    font-family: sans-serif;

}

/************************************ 

animation

**************************************/

.blink-1 {
	-webkit-animation: blink-1 1s both;
	        animation: blink-1 1s both;
}

.blink-2 {
    -webkit-animation: blink-2 1s infinite;
	animation: blink-2 1s infinite; 
    animation-delay: 4s;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-20 12:52:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes blink-2 {
    0%,
    100% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
  }
  